body{
  background-color: #a0a0a0;
}
h1{
  text-align: center;
}
form{
  text-align: center;
}

table{
  background-color: peachpuff;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
table, th, td {
  border: 1px solid black;
}
.id{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.complete{
  background-color: lightgreen;
}
